.bg-login-image {
  background: url("https://www.irishtimes.com/polopoly_fs/1.3559918.1531247784!/image/image.jpg_gen/derivatives/box_620_330/image.jpg");
  background-position: center;
  background-size: cover;
  }
